<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>flatChat</title>
  <link rel="stylesheet" type="text/css" href="../src/style.css">
</head>

<body>
  <div id="user-box">
    <img src="../src/flatironschoolblack.png">
    <h2 id="user-name"></h2>
    <hr>
    <h3>Current Users:</h3>

    <ul id="user-list">

    </ul>

    <hr>
  </div>
  <div id="chat-box">

  </div>
  <br>
  <form autocomplete="off" id="message-form" action="index.html" method="post">
    <input type="text" id="message" name="message" value="" placeholder="Message Someone">
    <input style="visibility: hidden;" type="submit" value="Send">
  </form>
  <script type="text/javascript" src="../src/script.js"></script>
</body>

</html>
